[submodule "PaddleOCR"]
	path = PaddleOCR
	url = https://github.com/PaddlePaddle/PaddleOCR
[submodule "PaddleX"]
	path = PaddleX
	url = https://github.com/PaddlePaddle/PaddleX
[submodule "GLM-OCR"]
	path = GLM-OCR
	url = https://github.com/zai-org/GLM-OCR
[submodule "worker-vllm"]
	path = worker-vllm
	url = https://github.com/runpod-workers/worker-vllm
